{% extends 'control/base.html' %}

{% load static %}

{% block title %}people one{% endblock title %}

{% block inner_content %}
{% verbatim %}
<div ng-app="myApp">
	<div ng-controller="ServiceIndexCtrl">
		count {{ servicios[0] }}
		previous {{ servicios[1] }}
		next {{ servicios[2] }}
		<table class="table" id="services">
			<thead>
				<tr>
					<th>nombre</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="servicio in servicios[3]">
					<td>{{ servicio.name }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
{% endverbatim %}
{% endblock inner_content %}

{% block js %}
<script type="text/javascript">
(function(){
	var app = angular.module('myApp', ['ngResource']);

	app.factory("Service", function($resource) {
		return $resource(
			"/api/services/:id",
			null,
			{
				query:{
					method: 'GET',
					isArray: true,
					transformResponse: function(data) {
						return [
							angular.fromJson(data).count,
							angular.fromJson(data).previous,
							angular.fromJson(data).next,
							angular.fromJson(data).results
						];
					}
				}
			}
		);
	});

	app.controller("ServiceIndexCtrl", function($scope, Service) {
	  	Service.query(
	  		function(data) {
		    	$scope.servicios = data;
    		},
    		function(error){
    			console.log(error);
    		}
		)
    	;
	});

	app.controller("ServiceShowCtrl", function($scope, Service) {
		Service.get({ id: 7 }, function(data) {
			$scope.servicio = data;
		});
	});
})()

$(document).ready(function() {
    $('#services').DataTable();
});
</script>
{% endblock js %}